body {
    background: linear-gradient(145deg, rgb(68, 68, 68), rgb(14, 13, 13));
    min-height: 100vh;
    height: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    body {
        background: white;
    }
}


h3 {
    font-size: 32px;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    padding: 0;

}

hr {
    border-top: 2px solid rgb(216, 216, 216) ;
    border-radius: 10px;
}

.login-caixa {

    background-color: white;
    border-radius: 10px;
    width: 400px;
    padding: 30px;
    text-align: center;


}

.form-login {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  
}

label {

    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
    display: flex
}

input {
    outline: 0;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    

}

input:focus {
    border: 2px solid gold;
}

::placeholder {
    color: #c1c1c1;
    font-style: italic;
}

button {
    margin-top: 8px;
    padding: 10px;
    font-weight: bold;
    background: linear-gradient(gold, yellow);
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

p {
    font-size: 14px;

}


a {
    color: rgb(7, 52, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin: 0px
}

ul{
    
    padding: 10px;
    margin: 0;
}

img {
    display: flex;
    justify-content: left;
}